accelerate==1.8.1
diffusers==0.34.0
einops==0.8.1
hwd
numpy==2.2.6
pathlib==1.0.1
sentence-transformers==3.4.1
tqdm==4.67.1
tqdm-multiprocess==0.0.11
transformers==4.53.0
wandb==0.21.0
webdataset==1.0.2
